/* ANCHOR Definindo as constantes */
:root {
    --color1: #262C70;
    --color2: #ED497C;
    --color3: #BFDDFF;
    --color4: #1572B6;
    --color5: #EBEBEB;
    --color6: #33A9DC;
    --color7: #E2F2FF;
    --color8: #0B66C3;
}

/* ANCHOR Importando as Fontes que serão utilizadas */
@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Roboto-Black';
    src: url(../fonts/Roboto-Black.ttf);
}

/* ANCHOR Default Elements */
* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    overflow-x: hidden;
}
body {
    font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
}
.container {
    width: 100%;
    margin: 0 auto;
}
header {
    width: 100%;
}
footer {
    padding: 2em 0em;
    margin: 0 1em 0 2em;
}

/* Button */
button {
    font-family: 'Roboto-Light', Arial, Helvetica, sans-serif;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
}

button a {
    text-decoration: none;
    color: white;
}

/* Grid */
.row {
    display: flex;
    width: 100%;
}

/* ANCHOR Typography */
h1 {
    color: var(--color1);
    font-family: 'Roboto-Black', Arial, Helvetica, sans-serif;
    font-size: 5em;
}
h2 {
    color: var(--color1);
    font-family: 'Roboto-Black', Arial, Helvetica, sans-serif;
    font-size: 3rem;
}
h3 {
    color: var(--color1);
    font-family: 'Roboto-Black', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

/* ANCHOR Header */
.header-title {
    color: var(--color8);
    padding: .5em 1em;
    font-size: 2rem;
    font-family: 'Roboto-Light', Arial, Helvetica, sans-serif;
}
.header-title span {
    color: var(--color8);
    font-size: 2rem;
    font-family: 'Roboto-Black', Arial, Helvetica, sans-serif;
}
/* Header: Barra de Navegação */
.header-tabs {
    height: 3rem;
    color: var(--color5);
    background-color: var(--color1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Roboto-Light', Arial, Helvetica, sans-serif;
}
.header-tabs ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.header-tabs ul li {
    float: left;
}
.a-routes {
    color: white;
    border: none;
    margin: 0em 2em;
    padding: 15px 0;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
}
.a-routes:hover {
    color: white;
    padding: 14px 10px;
    display: inline-block;
    cursor: pointer;
    background-color: rgba(11, 102, 195, 0.5);
    border-bottom: 3px solid var(--color6);
}
/* Header: Banner */
.banner {
    position: relative;
    width: 100%;
    background-image: linear-gradient( #BFDDFF, #E2F2FF);
}
.banner .cols {
    width: 50%;
}
.banner-home-page {
    position: relative;
    align-self: center;
    padding-left: 15%;
}
.banner-home-page p {
    font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif;
    text-align: start;
    font-size: 2em;
    padding: 20px 0;
}
.banner-home-page button {
    margin-top: 20px;
    background: var(--color2);
    color: white;
}
.img-home-page {
    display: block;
    margin: auto; 
    width: 90%;
    /* max-width: 50rem;
    opacity: 0.5; */
}
/* ANCHOR Sections */
/* Ferramentas */
#tools .cols {
    margin: 25px 10px 0 10px;
    width: 33%;
    display: flex;
    align-items: center;
	justify-content: center;
    text-align: center;
}
/* .circle {
    display: block;
    border-radius: 50%;
    margin: 10px;
}
.circle-externo {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #F1EFEF;
}
.circle-interno {
    position: absolute;
    vertical-align: middle;
    width: 130px;
    height: 130px;
    background-color: #E5E5E5;
}
.circle-interno img {
    display: block;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto
}  */
.text-tools {
    margin: 10px 0;
    padding: 0 15px;
}
.text-tools p {
    font-size: 1.7em;
    padding-top: 5px;
}
.text-tools #tools-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 5px;
}
/* Conheça o time */
#meet-team {
    background-color: var(--color3);
    margin: 20px 0 0 0;
}
#meet-team .row .cols {
    display: flex;
    align-items: center;
	justify-content: center;
    text-align: center;
    width: 100%;
    padding: 60px 0;
}
#meet-team h2 {
    padding: 10px 0;
}
#meet-team p {
    font-size: 2em;
    padding: 10px 0;
}
button {
    margin-top: 20px;
    background: var(--color8);
    color: white;
}
.content h1, h3, p, .icons {
    text-align: center;
    margin-bottom: 0;
}
.content p {
    font-size: 1.5rem;
    padding: 30px 0;
    margin-top: 0;
}
.content .row .img-integrante {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 183px;
}
.content .row p {
    padding: 0;
    font-size: 1em;
}
.content .icons {
    font-size: 40px;
    padding-top: 20px;
}
.content .icons a {
    text-decoration: none;
    cursor: pointer;
    border: none;
}
.content .github-icon {
    color: black;
    padding: 0 5px
}
.content .linkedin-icon {
    color: var(--color8);
    padding: 0 5px;
}
/* FOOTER */
footer hr {
    margin-bottom: 20px;
}
.footer-copy {
    font-size: 1.2rem;
}
.routers-footer {
    position: relative;
    float: right;
    color: var(--color1);
}
.a-routes-footer {
    border: none;
    padding: 0 1em;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
}

/* ANCHOR media queries */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    h1 {
        font-size: 3em;
        padding: 10px 0;
    }
    .banner {
        align-self: center;
    }
    .banner .cols {
        width: 100%;
    }
    .banner p {
        font-size: 1.2em;
        padding: 10px 0;
    }
    .banner button {
        margin-bottom: 10px;
    }
    .banner .cols .img-home-page {
        display: none;
        width: 0%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    h1 {
        font-size: 4em;
        padding: 10px 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}